In [9]:
import pandas as pd

In [10]:
# !pip install pandas

In [11]:
s1 = pd.Series([1116, 12259, 65119, 16699])
s1

0     1116
1    12259
2    65119
3    16699
dtype: int64

In [12]:
s2 = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s2

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [13]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
s2.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [15]:
s1.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [21]:
s2.name = '농작물 생산량(톤)'

In [22]:
s2

서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [25]:
s2.index.name = '지역구'

In [26]:
s2

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [29]:
s3 = s2/1000

In [30]:
s3.name = '농작물 생산량(k톤)'

In [31]:
s3

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [32]:
(s2/4456952*100).round(2)

지역구
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농작물 생산량(톤), dtype: float64

In [33]:
s2

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [35]:
s2[0], s2['서울']

(1116, 1116)

In [37]:
s2[[0,1]]

지역구
서울     1116
부산    12259
Name: 농작물 생산량(톤), dtype: int64

In [38]:
s2[[1,0]]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [39]:
s2[['부산','서울']]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [40]:
s2[s2>10000] # 10000톤 초과 데이터만 가져오기

지역구
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [44]:
s2[(s2>10000) & (s2<20000)] # 10000초과 20000 미만 데이터만 가져오기

지역구
부산    12259
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [45]:
s2[(s2/4456952*100) > 0.5]

지역구
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [46]:
s2[1:3]

지역구
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [48]:
s2['서울':'대구'] # 키값으로 쓰면 포함이 되게 리턴됨.

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [55]:
s2.서울

1116

In [56]:
d = {'서울' : 1116 , '부산' : '어쩌구'} # 딕셔너리
for k,v in d.items():
    print(k,v)

서울 1116
부산 어쩌구

In [58]:
print('제주도' in d)
'서울' in d.keys()

False

True

In [59]:
s21 = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s21 # 21년도 데이터란 뜻

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [65]:
s20 = pd.Series([628,11075,56013,15695], index=['제주도','부산','인천','대구'])
s20

제주도      628
부산     11075
인천     56013
대구     15695
dtype: int64

In [66]:
s21 - s20

대구     1004.0
부산     1184.0
서울        NaN
인천     9106.0
제주도       NaN
dtype: float64

In [67]:
import numpy as np
type(np.nan)

float

In [70]:
!python --version

Python 3.9.12

In [73]:
s_sub = s21 - s20 # NaN이 있으면 데이터 타입 바꿀수없음
s_sub.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [74]:
s21.sub(s20, fill_value=0)

대구     1004.0
부산     1184.0
서울     1116.0
인천     9106.0
제주도    -628.0
dtype: float64

In [76]:
s_sub2 = s21.sub(s20)
s_sub2

대구     1004.0
부산     1184.0
서울        NaN
인천     9106.0
제주도       NaN
dtype: float64

In [77]:
s_sub2.fillna(0) # NaN값을 0으로 교체

대구     1004.0
부산     1184.0
서울        0.0
인천     9106.0
제주도       0.0
dtype: float64

In [78]:
s_sub2.notnull() # 널이아닌거 트루로 나옴

대구      True
부산      True
서울     False
인천      True
제주도    False
dtype: bool

In [80]:
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])

In [85]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [86]:
rs # 20년도에서 21년도 증가량

서울    77.71
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [87]:
rs['서울']

77.71

In [88]:
rs['서울'] = 0
rs

서울     0.00
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [89]:
rs[0] = 123 # 값 변경
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [90]:
del rs['대구'] # 지우기 
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [91]:
# del rs[0] < 이걸로는 수행 불가
del rs['서울']

In [92]:
rs

부산    10.69
인천    16.26
dtype: float64

In [95]:
rs['서울'] = 77.71 # 추가
rs

부산    10.69
인천    16.26
서울    77.71
dtype: float64

In [97]:
rs['대구'] = 6.40
rs

부산    10.69
인천    16.26
서울    77.71
대구     6.40
dtype: float64

In [98]:
import random
key100 = random.sample(list(range(1000)), 100)
# pd.Series() # 크키가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(1000)), 80)
value100 = random.sample(list(range(1000)), 100)
value80 = random.sample(list(range(1000)), 80)
s100 = pd.Series(value100,index=key100)
s80 = pd.Series(value80,index=key80)

In [99]:
s_100_80_sub = s100 - s80

In [100]:
s_100_80_sub.notnull()

6      False
7       True
10     False
18     False
22     False
       ...
976     True
977    False
982    False
984    False
987    False
Length: 169, dtype: bool

In [101]:
for k,v in s_100_80_sub.notnull().items():
    if v:
        print(k,v)

7 True
294 True
307 True
370 True
384 True
519 True
533 True
662 True
841 True
851 True
976 True

In [102]:
s_100_80_sub[7]

-553.0

In [103]:
s100[7]

6

In [104]:
s80[7]

559